{% extends 'base.html' %}
{% block main %}
<table>
    <th style="padding: 40px">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add new batch</h5>
            <a href="{% url 'chicks_new_batch' %}" class="btn btn-primary">Select</a>
        </div>
    </div>
    </th>
    <th style="padding: 40px">

    <div class="card">
        <div class="card-body">
            {% if batch_status %}
            <h5 class="card-title">Update Batch</h5>
            <a href="{% url 'update_batch' %}" class="btn btn-primary">Select</a>
            {% else%}
            <h5 class="card-title">Update Batch</h5>
            <a href="#" class="btn btn-primary disabled">Select</a>
            <div id='invalid' class="form-text" style="color: red;">No active batches !</div>
            {% endif %}
        </div>
    </div>
    </th>
    <th style="padding: 40px">
    <div class="card">
        <div class="card-body">
            {% if layer_status and batch_status%}
            <h5 class="card-title">move to layer</h5>
            <a href="{% url 'move_batch' %}" class="btn btn-primary">Select</a>
            {% else%}
            <h5 class="card-title">move to layer</h5>
            <a href="#" class="btn btn-primary disabled">Select</a>
            {% if batch_status%}
            <div id='invalid' class="form-text" style="color: red;">Layers are occupied !</div>
            {% else %}
            <div id='invalid' class="form-text" style="color: red;">Batchs are not avaliable !</div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    </th>
</table>

{% endblock main%}