{% extends 'base.html' %}
{% block main %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <!-- <div class="row">
            <h1></h1>
            <div class="col-1 mb-3">
                <label for="bt_lyr" class="form-label"><b>Batch & Layer No:</b></label>
            </div>
            <div class="col-6 mb-3">
                <select name="bt_lyr" id="bt_lyr">
                    {% for i in bt_lyrs %}
                    <option value="{{ i.id }}">{{ i.batch_no }} {{i.layer_no}}</option>
                    {% endfor %}
                </select>
            </div>
        </div> -->
        <div class="row">
            <h1></h1>
            <div class="col-1 mb-3">
                <label for="vendor_name" class="form-label"><b>Vendor Name:</b></label>
            </div>
            <div class="col-6 mb-3">
                <select name="vendor_name" id="vendor_name">
                    {% for i in vendor_names %}
                    <option value="{{ i.id }}">{{ i.name }}-{{i.company_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <h1>DELIVERY</h1>
        <div class="row">
            <div class="col-2 mb-3">
                <label for="normal" class="form-label">Normal </label>
                <input id="normal" type="number" class="form-control" name="deliver_normal" required>
            </div>
            <div class="col-2 mb-3">
                <label for="small" class="form-label">Small </label>
                <input id="small" type="number" class="form-control" name="deliver_small" required>
            </div>
            <div class="col-2 mb-3">
                <label for="big" class="form-label">Big </label>
                <input id="big" type="number" class="form-control" name="deliver_big" required>
            </div>
            <div class="col-2 mb-3">
                <label for="broken" class="form-label">Broken </label>
                <input id="broken" type="number" class="form-control" name="deliver_broken" required>
            </div>
        </div>
            <div class="col-3 mb-3">
                <label for="to_gate" class="form-label">To Gate </label>
                <input id="to_gate" type="number" class="form-control" name="to_gate" required>
            </div>
            <div class="col-3 mb-3">
                <label for="spoiled" class="form-label">Spoiled</label>
                <input id="spoiled" type="number" class="form-control" name="spoiled" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock main%}