{% extends 'base.html' %}
{% block main %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Update Eggs</h5>
        <a href="{% url 'eggs_input_hens' %}" class="btn btn-primary">Select</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Update Feed</h5>
        <a href="{% url 'feed_input_hens' %}" class="btn btn-primary">Select</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        
    </div>
</div>
{% endblock main%}