{% extends 'base.html' %}
{% block main %}

<table>
    <th style="padding: 40px">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">EGGS</h5>
                <a href="{% url 'eggs_input_hens' %}" class="btn btn-primary">Update</a>
            </div>
        </div>
    </th>

    <th style="padding: 40px">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">DELIVERY</h5>
                <a href="{% url 'delivery_input_hens' %}" class="btn btn-primary">Update</a>
            </div>
        </div>
    </th>

    <th style="padding: 40px">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">FEED</h5>
                <a href="{% url 'feed_input_hens' %}" class="btn btn-primary">Update</a>
            </div>
        </div>
    </th>
    <th style="padding: 40px">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">PRODUCTION</h5>
                <a href="{% url 'close_production' %}" class="btn btn-primary">Close</a>
                
            </div>
        </div>
    </th>
</table>



{% endblock main%}