<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    <table>
        {% for row in report %}
        <tr>
            <td>date = {{ row.date_time  }}</td>
            <td>Normal = {{ row.normal }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>